<div class="container">
    <div class="add recipe">
        <h2 class="big-heading">Add your own recipe</h2> 
        <form class="add-recipe-form">
            <input class="small-textbox" type="text" placeholder="Recipe Name"> <br> <br>
            <input type="radio"  id="veg" name="food" value="veg"/><span class="radio">Veg</span>
          
            <input type="radio"  id="non-veg" name="food" value="non-veg"/><span class="radio">Non-Veg</span>
            <p>
                 <select id = "myList">
                   <option value = "0">Categories</option>
                   <option value = "1">North Indian</option>
                   <option value = "2">South Indian</option>
                   <option value = "3">Chinese</option>
                   <option value = "4">Snacks</option>
                   <option value = "5">Beverages</option>
                   <option value = "6">Desserts</option>
                 </select>
            </p><br>
            <input class="small-textbox" type="text" placeholder="Picture URL"> 
            <input class="small-textbox" type="text" placeholder="Video URL">
            <input class="large-textbox" type="text" placeholder="Description"> 
            <input class="large-textbox" type="text" placeholder="Ingredients with comma">
            <input class="large-textbox" type="text" placeholder="Steps with comma"> 
            <button class="button" style=" font-family:fira sans">
                <i class="fa fa-plus-circle " style="font-size:20px;color:white;"></i>
                   Add my recipe
            </button>
        </form>
    </div>
</div>