<app-navbar></app-navbar>
<div class="container">
  <div id="recipe-holder">
    <div id="recipe">
        <div id="pic-holder">
          <img
            src="https://www.newideafood.com.au/media/7399/cda1f942-fd34-4c42-837f-a55b3e3e26f0.jpg?width=606&height=0&mode=crop&center=0.5,0.5"
            alt="">
        </div>
        <div id="recipe-details">
          <h1 class="big-heading"> Tomato chilli pasta <i class="far fa-stop-circle green"></i></h1>
          <h3 class="small-heading">Description</h3>
          <p>This is a simple, 30-minute pasta sauce that tastes like a restaurant creation and is an easy way to jazz up your pasta leftovers. </p>
        </div>
      </div>
      <div id="recipe">
        <div class="recipe-btn-holder">
          <a href="/" class="btn mg-r"><i class="far fa-play-circle"></i> Watch Video</a>
          <a href="/" class=" btn-color"><i class="fas fa-share-alt"></i></a>
        </div>
      <div class="ingredients">
          <h3 class="small-heading">Ingredients</h3>
          <p>Butter, Tomato, Milk, Garam masala, Peppers, Cream, C ashew, Onion, Garlic, Fenugreek, Cumin, Salt, Ginger, Cottage cheese, Cardamom, Chili powder, Kashmiri cuisine
        </p>
      </div>
    </div>
    <div id="steps">
        <h3 class="small-heading">Steps</h3>
        <ul>
            <li><p><span class="point"></span>Soak 18 to 20 cashews in ⅓ cup hot water for 20 to 30 minutes.</p></li>
            <li><p><span class="point"></span>When the cashews are soaking, you can prep the other ingredients like chopping tomatoes, chopping and preparing the ginger-garlic paste, slicing paneer etc.</p></li>
            <li><p><span class="point"></span>Crush 1-inch ginger + 3 to 4 medium-sized garlic to a paste in a mortar pestle to a semi-fine or fine paste. Keep aside. Don’t add any water while crushing ginger & garlic.</p></li>
            <li><p><span class="point"></span>Grind to a smooth paste without any tiny bits or pieces of cashews. Remove the cashew paste in a bowl and set aside.In the same blender add 2 cups of diced or roughly chopped tomatoes. No need to blanch the tomatoes before blending.Blend to a smooth tomato puree. Set aside. Don’t add any water while blending the tomatoes</p></li>
        </ul>
    </div>
  </div>  
 
</div>

