<div class="container">
    <div id="random">
        <h1 class="big-heading">
            Try Something Random Today.. 
        </h1>
        <div class="card-g random-card">
            <div id="card-image">
                <img src="https://www.newideafood.com.au/media/7399/cda1f942-fd34-4c42-837f-a55b3e3e26f0.jpg?width=606&height=0&mode=crop&center=0.5,0.5" alt="">
            </div>
            <div id="recipe-content">
                <h3 id="recipe-name"> Tomato chilli pasta <i class="far fa-stop-circle green"></i></h3>
                <p class="description">
                    This is a simple, 30-minute pasta sauce that tastes like a restaurant creation and is an easy way to jazz up your pasta leftovers
                </p>
                <p class="description"><span class="inc">Ingredients :</span>Butter, Tomato, Milk .....etc</p>
                <div class="btn-holder">
                    <a href="/" class="btn ran-btn">Try Now</a>
                    <a href="/" class="btn ran-btn">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
